{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="navbar">
    <a href="{% url 'create_article' %}">Add tasks</a>
    <a href="{% url 'create_category' %}">Add category</a>
    <a href="{% url 'index_article' %}">Home</a>
</div>
<div class="navbar">
    {% block navbar %} {% endblock %}
</div>
<div class="container">
    {% block content %} {% endblock %}
</div>
</body>
</html>