{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="navbar">
    <div class="my_market">
    <h2><a class="navbar_link" href="{% url 'index_article' %}">My market</a></h2>
    </div>
    <div class="header_link">
    <a class="navbar_link" href="{% url 'create_article' %}">Add tasks</a>
    <a class="navbar_link" href="{% url 'create_category' %}">Add category</a>
    <a class="navbar_link" href="{% url 'index_article' %}">Home</a>
    </div>
</div>
<div class="navbar">
    {% block navbar %} {% endblock %}
</div>
<div class="container">
    {% block content %} {% endblock %}
</div>
</body>
</html>