{% extends "base.html" %}
{% block title %}Detail{% endblock %}
{% block content %}
    <div class="container">
        <div class="card_input">
        <div class="deatail_color">
            <form method="post">
                {%csrf_token%}
               <div class="row">
                    <label for="status_category">Title</label>
                    <h1><input type="text" id="status_category" name="status_category"></h1>
                </div>
                <div class="row">
                    <label for="text_category">Text</label>
                    <h1><input type="text" id="text_category" name="text_category"></h1>
                </div>
                <button type="submit">Создать</button>
            </form>
        </div>
            </div>
</div>

{% endblock %}