{% extends "base.html" %}
{% block title %}Detail{% endblock %}
{% block content %}
    <div class="container">
        <div class="card_input">
        <div class="deatail_color">
            <form method="post">
                {%csrf_token%}
                <div class="row">
                    <label for="name">Product</label>
                    <h1><input type="text" id="name" name="name"></h1>
                </div>
                <div class="row">
                    <label>Category</label>
                    <h1><select name="category">
                        {% for i in  category%}
                        <option value={{i.pk}}>{{i.status_category}}</option>
                        {% endfor %}
                    </select></h1>
                </div>
                <div class="row">
                    <label for="text">Text</label>
                    <h1><input type="text" id="text" name="text"></h1>
                </div>
                <div class="row">
                    <label for="price">Price</label>
                    <h1><input type="number" id="price" name="price"></h1>
                </div>
                <div class="row">
                    <label for="image_url">Image URL</label>
                    <h1><input type="text" id="image_url" name="image_url"></h1>
                </div>
                <h1><button type="submit">Создать</button></h1>
            </form>
        </div>
            </div>
</div>

{% endblock %}