{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% for article in articles %}
<div class="card">
  <div class="card_two">
<h2 ><img src="{{article.image_url}}" alt="" style="width: 250px; height: 250;"></h2>
  <div class="ditael">
  <h2>{{article.name}}</h2>
  <h2><a href="{% url 'category_view' article.category.pk%}">{{article.category.status_category}}</a></h2>
  <h2>{{article.price}}</h2>
  <h2><a href="{% url 'detail_view' article.pk%}">see more</a></h2>
    </div>
    </div>
</div>
{% endfor %}
{% endblock %}