{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% for article in articles %}
<div class="card">
  <div class="card_two">
<h2 ><img src="{{article.image_url}}" alt="" style="width: 250px; height: 250;"></h2>
  <div class="ditael">
  <h2>{{article.name}}</h2>
    <h2>{{article.category}}</h2>
  <h2>{{article.price}}</h2>
  <h2><a href="{% url 'detail_view' article.pk%}">see more</a></h2>
    <h2><a class="navbar_link" href="{% url 'product_update' article.pk%}">Update</a> <a class="navbar_link"
                                                                                                     href="{% url 'article_delit' article.pk%}">Delete</a>
    </div>
    </div>
</div>
{% endfor %}
{% endblock %}